.navbar {
	position: fixed;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
	height: 100vh;
	width: 280px;
	row-gap: 35px;


	.logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 16px;

		span {
			color: var(--textColor);
			font-size: 28px;
			font-weight: 700;
		}

	}
}