.user_info {
	display: flex;
	gap: 24px;
	padding: 20px;
	.left {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		
	}
	.right {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		width: 350px;
	}
}
