.head {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		white-space: nowrap;

		h2 {
			font-size: 28px;
			font-weight: 700;
		}

		.stick {
			height: 33px;
			width: 1px;
			background: #667085;
		}

		div {
			font-size: 16px;
			font-weight: 500;
		}

		input {
			padding: 12px 24px;
		}
	}

	.buttons {
		display: flex;
		align-items: center;
		gap: 16px;

		button {
			display: flex;
			align-items: center;
			gap: 12px;

			&.filter {
				border: 1px solid var(--primaryColor);
				color: var(--primaryColor);
			}
			&.button {
				background-color: var(--primaryColor);
				color: #fff;
			}
		}
	}
}
