.tasks {
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	.categories {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
	}
	.wrapper {
		display: flex;
		gap: 30px;
	}
}